.cdx-quote-icon svg {
    transform: rotate(180deg);
}

.cdx-quote {
    padding: 30px 35px 18px 35px;
    background-color: #f7f9fa;
    border-radius: 4px;
    margin: 0 0 10px;
}

.cdx-quote__caption-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.cdx-quote.cdx-quote--no-caption .cdx-quote__caption-wrapper{
    display: none;
}

.cdx-quote.cdx-quote--has-caption .cdx-quote__caption--left{
    display: none;
}

.cdx-quote.cdx-quote--has-caption .cdx-quote__caption--right{
    width: 100%;
}

.cdx-quote.cdx-quote--has-captions {

}

.cdx-quote__text {
    min-height: 58px;
    margin-bottom: 0;
    background-color: inherit;
    border: none;
    box-shadow: none;
}

.cdx-quote__caption--left {
    font-size: 0.8rem;
    border: none;
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cdx-quote__caption--image {
    position: absolute;
    right: 28px;
    top: 45px;
    width: 72px;
    height: 72px;
}

.cdx-quote__image--quote {
    position: absolute;
    left: 28px;
    top: 18px;
    width: 36px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='36px' height='32px' viewBox='0 0 36 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cdefs%3E%3Cpath d='M444.375723 396.635481 C444.375723 398.395853 445.763006 402.112196 446.780347 404.165964 C445.393064 405.241747 438.456647 408.2735 435.774566 407.980105 C434.202312 406.317531 433 402.992382 433 400.743017 C433 392.919138 438.82659 383.041491 446.040462 376 L449 378.444962 C445.763006 383.921677 444.375723 389.202796 444.375723 396.635481 M424.468208 396.635481 C424.468208 398.395853 425.763006 402.112196 426.687861 404.165964 C425.485549 405.241747 418.456647 408.2735 415.774566 407.980105 C414.294798 406.317531 413 402.992382 413 400.743017 C413 392.919138 418.734104 383.041491 426.132948 376 L429 378.444962 C425.763006 383.921677 424.468208 389.202796 424.468208 396.635481' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='Quote' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Fill-1' transform='translate(-413.000000  -376.000000)'%3E%3Cuse fill='%23FFFFFF' xlink:href='%23path-1'%3E%3C/use%3E%3Cuse fill-opacity='0.12' fill='%2318805A' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cdx-quote__caption--right {
    font-size: 0.8rem;
    border: none;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cdx-quote__caption--left[contentEditable=true][data-placeholder]:focus, .cdx-quote__caption--right[contentEditable=true][data-placeholder]:focus {
    overflow: auto;
    white-space: normal;
    text-overflow: inherit;
}

.cdx-quote .cdx-quote__caption--right[contentEditable=true][data-placeholder]::before {
    position: absolute !important;
    right: 105px;
}

.cdx-quote .cdx-quote__caption--right[contentEditable=true][data-placeholder]:empty::before {
    opacity: 1;
}

.cdx-quote [contentEditable=true][data-placeholder]::before {
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    opacity: 0;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty::before {
    opacity: 1;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty:focus::before {
    opacity: 0;
}

.cdx-quote [contentEditable=true][data-placeholder]:focus {
    background-color: #fefefe;
}

.cdx-quote-settings {
    display: flex;
}

.cdx-quote-settings .cdx-settings-button {
    width: 50%;
}
